:root {
    --primary-color: ;
    --secondary-color: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    color: rgba(0,136,169,0.8);
    background: url('..\assets\images\pexels-rakicevic-nenad-1274260.jpg') no-repeat center /cover;
}
/* Header/Nav */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: black;
    color: rgba(0,136,169,0.8);
    padding: 30px 10%;
  }

  header h1 a {
      color: rgba(0,136,169,0.8);
  }

.nav-links {
    list-style: none;
  }

.nav-links li {
      display: inline-block;
      padding: 0 20px;
  }

  .nav-links li a {
      transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    color: #0088a9
}

button {
    padding: 10px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.hero-container {
    display: flex;

}

.profile-photo {

}

.profile-photo img {
    max-width: 25%;
    border-radius: 50%;
}
/* End Header/nav */

/* Hero */
.hero {
    display: flex;
   
}
.hero-container {
    display: flex;
    justify-content: space-between;



}
/* end Hero */



/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.application {
    border: 5px solid black;
    width: 45%;
    margin-bottom: 15px;
    background-image: url('../assets\images\placeholder.png');
    background-size: contain;
    background-position: center;
    min-height: 250px;
}  */