@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --primary-color: rgba(33,135,147,1);
    --secondary-color:rgba(27,31,34,); ;
    --third-color: rgba(184,104,94,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

body {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    color: var(--primary-color);
    background: url(../images/space-jar.jpg);
    background-size: contain;
}
/* Header/Nav */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: black;
    color: var(--primary-color);
    padding: 20px 5%;
  }

.header h1 {
    margin: 0;
    color: black;
    background-color: var(--primary-color);
  }
.nav-links {
    list-style: none;
  }

.nav-links li {
      display: inline-block;
      padding: 0 20px;
  }

  .nav-links li a {
      transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    color: #0088a9
}

button {
    padding: 10px 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Hero */
.hero-container {
    display: flex;
    background-color: rgb(27,31,34);
}
.profile-photo img {
    max-width: 25%;
    border-radius: 50%;
}


/* end Hero */


/* Projects Section */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.application {
    border: 5px solid black;
    width: 45%;
    margin-bottom: 15px;
    background-size: contain;
    background-position: center;
    min-height: 250px;
} 

div.application:first-child {
    flex-basis: 90%;
    background: url("../images/run-buddy-capture.png");
    background-size: cover;
}
div.application:nth-child(2) {
    flex-basis: 40%;
    background: url("../images/horiseon-capture.PNG");
    background-size: cover;
}

div.application:nth-child(3) {
    flex-basis: 40%;
    background: url("../images/placeholder.png");
    background-size: cover;
}

div.application:nth-child(4) {
    flex-basis: 40%;
    background: url("../images/tash-sultana-capture.PNG");
    background-size: cover;
}

div.application:nth-child(5) {
    flex-basis: 40%;
    background: url("../images/placeholder.png");
    background-size: cover;
}

.info {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

